.navCnt{
    height: 10vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 8vw;
    padding-right: 8vw;
}
.logo{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.pages{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;
}
.cart{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}